# Simulation Evaluation

This module provides tools to evaluate energy simulation data, focusing on electricity consumption, production, and related metrics.
It includes functionality to resample data, compute totals, and calculate key performance indicators such as self-consumption and self-sufficiency ratios.

In [ ]:
from openenergyid.simeval import EvaluationInput, evaluate

# Sample Data

Here we have 1 year of 15-minute interval data for a house. The data includes:
- `electricity_delivered`: Electricity consumed from the grid (kWh)
- `electricity_produced`: Electricity produced by solar panels (kWh)
- `electricity_exported`: Electricity exported to the grid (kWh)
- `price_electricity_delivered`: Price of electricity consumed from the grid (EUR/kWh) (incl. all fees and taxes)
- `price_electricity_exported`: Price of electricity exported to the grid (EUR/kWh)

In [24]:
data = EvaluationInput.from_json(path="data/simeval/sample.json")

In [25]:
df = data.to_pandas(timezone="Europe/Brussels")
df

,electricity_delivered,electricity_produced,electricity_exported,price_electricity_delivered,price_electricity_exported
2024-01-01 00:00:00+01:00,0.023,0.0,0.0,0.12947,-0.01490
2024-01-01 00:15:00+01:00,0.026,0.0,0.0,0.12947,-0.01490
2024-01-01 00:30:00+01:00,0.020,0.0,0.0,0.12947,-0.01490
2024-01-01 00:45:00+01:00,0.029,0.0,0.0,0.12947,-0.01490
2024-01-01 01:00:00+01:00,0.020,0.0,0.0,0.12937,-0.01499
...,...,...,...,...,...
2024-12-31 22:45:00+01:00,0.019,0.0,0.0,0.13373,-0.01104
2024-12-31 23:00:00+01:00,0.028,0.0,0.0,0.12800,-0.01623
2024-12-31 23:15:00+01:00,0.023,0.0,0.0,0.12800,-0.01623
2024-12-31 23:30:00+01:00,0.024,0.0,0.0,0.12800,-0.01623
2024-12-31 23:45:00+01:00,0.038,0.0,0.0,0.12800,-0.01623

# Evaluate

In [34]:
results = evaluate(df)

In [35]:
results["total"]

electricity_delivered            2946.712000
electricity_exported             1598.236000
electricity_consumed             2842.756000
cost_electricity_delivered        662.743350
earnings_electricity_exported      24.440012
cost_electricity_net              638.303338
dtype: float64

In [ ]:
# Results in any frequency you pass to the evaluate function, MS is default
results["MS"]

,electricity_delivered,electricity_exported,electricity_consumed,cost_electricity_delivered,earnings_electricity_exported,cost_electricity_net
2024-01-01 00:00:00+01:00,382.704,21.953,378.907,86.423848,1.216669,85.207180
2024-02-01 00:00:00+01:00,318.313,29.987,314.051,65.072853,1.341686,63.731167
2024-03-01 00:00:00+01:00,258.649,121.385,249.043,53.675168,3.724642,49.950526
2024-04-01 00:00:00+02:00,149.935,200.316,139.144,29.675216,2.719837,26.955379
2024-05-01 00:00:00+02:00,201.572,196.904,185.963,40.641372,-0.475451,41.116822
2024-06-01 00:00:00+02:00,190.435,216.364,173.364,39.477619,3.017263,36.460356
2024-07-01 00:00:00+02:00,144.849,245.680,132.575,29.508987,1.329312,28.179675
2024-08-01 00:00:00+02:00,99.315,298.995,92.788,22.501952,3.454421,19.047531
2024-09-01 00:00:00+02:00,241.507,154.804,228.533,52.551318,2.522843,50.028475
2024-10-01 00:00:00+02:00,234.196,89.322,226.810,53.399384,3.766253,49.633131
2024-11-01 00:00:00+01:00,367.257,16.955,364.826,95.428456,1.427373,94.001083
2024-12-01 00:00:00+01:00,357.980,5.571,356.752,94.387178,0.395165,93.992014