In [1]:
from openenergyid.simeval import EvaluationInput, evaluate

# Sample Data

Here we have 1 year of 15-minute interval data for a house. The data includes:
- `electricity_delivered`: Electricity consumed from the grid (kWh)
- `electricity_produced`: Electricity produced by solar panels (kWh)
- `electricity_exported`: Electricity exported to the grid (kWh)
- `price_electricity_delivered`: Price of electricity consumed from the grid (EUR/kWh) (incl. all fees and taxes)
- `price_electricity_exported`: Price of electricity exported to the grid (EUR/kWh)

In [2]:
data = EvaluationInput.from_json(path="data/simeval/sample.json")

In [3]:
df = data.to_pandas(timezone="Europe/Brussels")
df

                           electricity_delivered  ...  price_electricity_exported
2024-01-01 00:00:00+01:00                  0.023  ...                    -0.01490
2024-01-01 00:15:00+01:00                  0.026  ...                    -0.01490
2024-01-01 00:30:00+01:00                  0.020  ...                    -0.01490
2024-01-01 00:45:00+01:00                  0.029  ...                    -0.01490
2024-01-01 01:00:00+01:00                  0.020  ...                    -0.01499
...                                          ...  ...                         ...
2024-12-31 22:45:00+01:00                  0.019  ...                    -0.01104
2024-12-31 23:00:00+01:00                  0.028  ...                    -0.01623
2024-12-31 23:15:00+01:00                  0.023  ...                    -0.01623
2024-12-31 23:30:00+01:00                  0.024  ...                    -0.01623
2024-12-31 23:45:00+01:00                  0.038  ...                    -0.01623

[35136 rows x 5 columns]

# Evaluate

In [6]:
evaluate(df)["MS"]

                           electricity_delivered  ...  electricity_consumed
2024-01-01 00:00:00+01:00                382.704  ...               420.898
2024-02-01 00:00:00+01:00                318.313  ...               357.620
2024-03-01 00:00:00+01:00                258.649  ...               342.841
2024-04-01 00:00:00+02:00                149.935  ...               235.116
2024-05-01 00:00:00+02:00                201.572  ...               320.709
2024-06-01 00:00:00+02:00                190.435  ...               333.015
2024-07-01 00:00:00+02:00                144.849  ...               253.783
2024-08-01 00:00:00+02:00                 99.315  ...               170.778
2024-09-01 00:00:00+02:00                241.507  ...               329.556
2024-10-01 00:00:00+02:00                234.196  ...               295.616
2024-11-01 00:00:00+01:00                367.257  ...               397.409
2024-12-01 00:00:00+01:00                357.980  ...               380.370

[12 rows x 4 columns]